<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <style>
        #growls.default {
            top: 15px !important;
            left: 520px !important;
            text-align: center;
            width: auto;
            height: auto;
        }
    </style>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--官网下载地址url-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <!--百度云-CDN-就是jquery的url->
    <!--<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/jquery.growl.js"></script>
    <link href="../static/css/jquery.growl.css" rel="stylesheet"/>
    <!--注意Html5不需要type声明了-->
    <!-------------------------------------------------------------------------------------------->
    <script>
        $(document).ready(function () {
            return $.growl.notice({
                title: "欢迎您",
                message: "亲爱的用户!"
            });
        });
    </script>
</head>
<body>
    <h1 style="color: darkred">我的网站首页</h1>
    <hr style="color: green;font-size: 3em">

    <table>
        <tr>
            <td><a href="https://www.baidu.com">百度</a></td>
            <td><a href="https://www.iqiyi.com">爱奇艺</a></td>
        </tr>
        <tr>
            <td><a href="https://map.baidu.com/">百度地图</a></td>
            <td><a href="http://www.itcast.cn">传智播客</a></td>
        </tr>
    </table>

</body>
</html>