<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.6.8/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.6.8/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.6.8/demo/demo.css">
    <script type="text/javascript" src="../static/jquery-easyui-1.6.8/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery-easyui-1.6.8/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/jquery-easyui-1.6.8/jquery.easyui.min.js"></script>
    <meta charset="UTF-8">
    <title>用户后台管理</title>
    <script>
        function addUser() {
            $("#fo").form('submit', {
                url: '/addUser',
                type: 'post',
                headers: {'Authorization': token},
                onSubmit: function () {
                    //api的指的方法validate需要这样用
                    var flag = $(this).form("validate");
                    return flag;
                },
                success: function (data) {
                    var result = eval("(" + data + ")");
                    if (result.success) {
                        window.location.href = result.msg;
                    } else {
                        $.messager.alert('提示', result.msg);
                    }
                    alert(data)
                }
            });
        }
    </script>
</head>
<body class="easyui-panel" title="<center><b style='font-size: medium;color: #0E2D5F'>后台用户管理系统</b></center>"
      data-options="fit:true">
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="height:30px;background:#B3DFDA;padding:5px;" align="right">
        <input class="easyui-textbox" align="right" iconCls="icon-search" style="width: 130px;height: 22px;">
    </div>
    <!------------------------------------------------------------------------------------------------------->
    <div data-options="region:'west',split:true,hideCollapsedContent:false,collapsed:false"
         title="<center>系统菜单</center>" style="width:18%;padding:1px;">
        <div class="easyui-accordion" style="width:300px;height:200px;" data-options="fit:true">
            <div title="我的菜单" iconCls="icon-menu" iconAlign="right">
                <ul id="tt1" class="easyui-tree" checkbox="true">
                    <li>
                        <span>Folder1</span>
                        <ul>
                            <li>
                                <span>Sub Folder 1</span>
                                <ul>
                                    <li><span>File 11</span></li>
                                    <li><span>File 12</span></li>
                                    <li><span>File 13</span></li>
                                </ul>
                            </li>
                            <li><span>File 2</span></li>
                            <li><span>File 3</span></li>
                        </ul>
                    </li>
                    <li><span>File2</span></li>
                </ul>
            </div>
            <div title="About Accordion" iconCls="icon-ok" style="overflow:auto;padding:10px;">
                <h3 style="color:#0099FF;">Accordion for jQuery</h3>
                <p>Accordion is a part of easyui framework for jQuery. It lets you define your accordion component on
                    web page
                    more
                    easily.</p>
            </div>
            <div title="About easyui" iconCls="icon-reload" selected="true" style="padding:10px;">
                easyui help you build your web page easily
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------->
    <div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east
        region
    </div>
    <!------------------------------------------------------------------------------------------------------->
    <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">
        south region
    </div>
    <!------------------------------------------------------------------------------------------------------->
    <div data-options="region:'center',title:'用户管理中心'">
        <div id="tt" class="easyui-tabs" style="width:500px;height:250px;" data-options="fit:true">
            <div title="用户管理" style="padding:3px;display:none;">
                <table id="datagrid" class="easyui-datagrid" style="width:100%;height:100%"
                       url="/queryUserList"
                       toolbar="#dgtoolbar" pagination="true"
                       pageSize="25" pageList="[25,15,10]"
                       rownumbers="false" fitColumns="true" singleSelect="true">
                    <thead>
                    <tr>
                        <th data-options="field:'username',align:'center',width:'9%'">用户名</th>
                        <th data-options="field:'department',align:'center',width:'9%'">部门</th>
                        <th data-options="field:'position',align:'center',width:'11%'">职位</th>
                        <th data-options="field:'phone',align:'center',width:'9%'">电话</th>
                        <th data-options="field:'from',align:'center',width:'9%'">系统</th>
                        <th data-options="field:'headUrl',align:'center',width:'9%'">头像</th>
                    </tr>
                    </thead>
                </table>
                <!------------------------------------------------------------------------------------------------------>
                <div id="dgtoolbar">
                    <a id="aa" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"
                       onclick="javascript:$('#win').dialog('open')">添加用户</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true"
                       onclick="editUsers()">修改信息</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true"
                       onclick="removeUsers()">删除用户</a>
                </div>
                <div id="openWindow"></div>
                <!------------------------------------------------------------------------------------------------------>
            </div>
            <div title="权限管理" data-options="closable:false" style="overflow:auto;padding:20px;display:none;">
                tab2
            </div>
        </div>
        <div id="win" style="background-color: #6b9cde">
            <form id="fo" method="post" action="/addUser">
                <table align="center" style="border-collapse:separate; border-spacing:0px 11px;">
                    <tr>
                        <td align="right"><label>用户名:</label></td>
                        <td align="center"><input name="username" id="username" type="text" class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[1,20]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容不能超过20字"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>密码:</label></td>
                        <td align="center"><input name="password" id="pwd" type="password" class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[3,16]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容只能3到16字"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>确认密码:</label></td>
                        <td align="center"><input name="rePassword" id="rpwd" type="password" class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[3,16]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容只能3到16字"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>部门:</label></td>
                        <td align="center"><input name="department" id="department" type="text"
                                                  class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[0,25]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容不能超过25字"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>职位:</label></td>
                        <td align="center"><input name="position" id="position" type="text" class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[0,25]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容不能超过25字"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>电话:</label></td>
                        <td align="center"><input name="phone" id="phone" type="text" class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[11,11]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容输入有误"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>用户类型:</label></td>
                        <td align="left">
                            <select id="from" type="text" name="from" class="easyui-combobox"
                                    style="width: 100px;height: 30px"
                                    panelHeight="auto">
                                <option value="1">前台</option>
                                <option value="2">后台</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Submit"/>
                        </td>
                    </tr>
                </table>
            </form>
            <!--00000000000000000000000000000000000000000000000000000000000000000-->
            <div id="add-buttons" align="right" style="padding: 20px">
                <a href="#" class="easyui-linkbutton" onclick="addUser()" style="background-color: #4b72a4">添加</a>
                <a href="#" class="easyui-linkbutton" style="background-color: #4b72a4"
                   onclick="javascript:$('#win').dialog('close')">取消</a>
            </div>
            <!--00000000000000000000000000000000000000000000000000000000000000000-->
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------->
</div>
<script>
    //------------------------------------------------------------------
    $("#username").textbox({
        iconCls: 'icon-man',
        iconAlign: 'right'
    });
    $("#pwd").textbox({
        iconCls: 'icon-lock',
        iconAlign: 'right'
    });
    $("#rpwd").textbox({
        iconCls: 'icon-lock',
        iconAlign: 'right'
    });
    $("#department").textbox({
        iconCls: 'icon-department',
        iconAlign: 'right'
    });
    $("#position").textbox({
        iconCls: 'icon-position',
        iconAlign: 'right'
    });
    $("#phone").textbox({
        iconCls: 'icon-phone',
        iconAlign: 'right'
    });
    //------------------------------------------------------------------
    $('#win').dialog({
        title: '添加用户',
        width: 500,
        height: 425,
        iconCls: 'icon-save',
        closed: true,
        cache: false,
        modal: true
    });
</script>
</body>
</html>